page-statistic {
    ion-row {
      height: 100px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ion-col {
      height: 100px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ion-img {
      background-color: transparent;

      width: 80px;
      height: 80px;
      margin: 20px 0px 0px 0px;
      //margin-top: 20px;
      //margin-bottom: -10px;
      //margin-right: -15px;
      //margin-left: -15px;
      align-items: center;
    }
    p {
      font-size: smaller;
      color: #8c8c8c;
    }


}
