<ion-header>
    <ion-navbar style="align-items: center;">
        <ion-row no-padding>
            <ion-col col-10 no-padding>
                <ion-label text-center style="font-size: medium;" no-margin>故障历史</ion-label>
                <ion-label text-center no-margin style="font-size: x-small">{{name}}</ion-label>
            </ion-col>
            <ion-col col-2 style="color: transparent">
                <ion-icon item-right name="ios-hammer-outline" ></ion-icon>
            </ion-col>
        </ion-row>

    </ion-navbar>
</ion-header>


<ion-content padding class="padding">
    <ion-item class="staticBar">
        <ion-row >
            <ion-col col-5 no-padding>4条 已确认</ion-col>
            <ion-col col-5 no-padding>14 条未确认</ion-col>
        </ion-row>
        <ion-row >
            <ion-col>最后确认时间：2018/10/22 12:30:04</ion-col>
        </ion-row>
    </ion-item>
    <br>
    <ion-card *ngFor="let item of dataArray" no-padding style="border-radius:15px;margin-top:10px;margin-bottom:10px">
        <ion-item *ngIf="item.measure=='已确认'" >
            <ion-item style="color: grey;border-bottom: solid darkgray 1px;">
                <ion-note  item-left>{{item.alarmNo}}</ion-note>
                <ion-note  item-right>{{item.measure}}</ion-note>
            </ion-item>
            <ion-item style="color:grey ;font-size: small" no-padding>
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>{{item.malfunctionNo}}</ion-col>
                        <ion-col col-5>类型：{{item.malfunctionType}}</ion-col>
                        <ion-col col-4>标识符：{{item.tag}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>开始时间：{{item.startTime}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>结束时间：{{item.endTime}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>措施：{{item.measure}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>影响器件：{{item.impactDevice}}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-item>
        <ion-item *ngIf="item.measure=='未确认'" >
            <ion-item style="border-bottom: solid darkgray 1px;">
                <ion-note style="color:black" item-left>{{item.alarmNo}}</ion-note>
                <ion-note style="color:black" item-right>{{item.measure}}</ion-note>
            </ion-item>
            <ion-item style="color:black ;font-size: small;" no-padding>
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>{{item.malfunctionNo}}</ion-col>
                        <ion-col col-5>类型：{{item.malfunctionType}}</ion-col>
                        <ion-col col-4>标识符：{{item.tag}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>开始时间：{{item.startTime}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>结束时间：{{item.endTime}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>措施：{{item.measure}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>影响器件：{{item.impactDevice}}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-item>

    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
