<ion-header>
  <ion-navbar style="align-items: center;" transparent>
    <ion-row no-padding>
      <ion-col col-10 no-padding>
        <ion-label text-center style="font-size: medium;" no-margin><p
          style="color:rgb(255,255,255) !important;font-weight:100">{{name}}故障历史</p></ion-label>
      </ion-col>
      <ion-col col-2 style="color: transparent">
        <ion-icon item-right name="ios-hammer-outline"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-navbar>
</ion-header>


<ion-content padding class="padding">
  <ion-card *ngIf="roleId==3 || roleId==4" class="staticBar">
    <ion-label style="text-align: center;color: white">未确认故障：{{unconfirmsum}}条 （共{{malsum}}条）</ion-label>
  </ion-card>
  <ion-card *ngIf="roleId==5" class="staticBar">
    <ion-label style="text-align: center;color: white">未确认故障：{{unconfirmsum}}条</ion-label>
  </ion-card>
  <br>
  <ion-card *ngFor="let item of malfunctionArray" no-padding style="border-radius:15px;margin-top:10px;margin-bottom:10px">
    <ion-item>
      <ion-item class="noconfirmHead">
        <ion-note style="color:black" item-left>{{item.malId}}</ion-note>
        <ion-note style="color:black" item-right>未确认</ion-note>
      </ion-item>
      <ion-item class="noconfirmBody" no-padding>
        <ion-grid>
          <ion-row>
            <ion-col> 类型：{{item.malType}}   </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>器件：{{item.subNodeId}}号子节点-{{item.component}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>时间：{{item.malTime}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="roleId==3">
        <button ion-button (click)="OncomfirmClick(item)" item-right>确认故障</button>
      </ion-item>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let item of comfirmArray" no-padding
            style="border-radius:15px;margin-top:10px;margin-bottom:10px">
    <ion-item>
      <ion-item class="confirmHead">
        <ion-note item-left>{{item.malId}}</ion-note>
        <ion-note item-right>已确认</ion-note>
      </ion-item>
      <ion-item class="confirmBody" no-padding>
        <ion-grid>
          <ion-row>
            <ion-col>类型：{{item.malType}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>器件：{{item.subNodeId}}号子节点-{{item.component}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>时间：{{item.malTime}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>确认人：{{item.user}}</ion-col>
            <ion-col *ngIf="item.platform">（移动端）</ion-col>
            <ion-col *ngIf="!item.platform">（设备端）</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>时间：{{item.endTime}}</ion-col>
          </ion-row>
          <ion-row *ngIf="item.note!=null">
            <ion-col>备注：{{item.note}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>
    <ion-item *ngIf="!item.confirmed">
      <ion-item class="noconfirmHead">
        <ion-note style="color:black" item-left>{{item.malId}}</ion-note>
        <ion-note style="color:black" item-right>未确认</ion-note>
      </ion-item>
      <ion-item class="noconfirmBody" no-padding>
        <ion-grid>
          <ion-row>
            <ion-col> 类型：{{item.malType}}   </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>器件：{{item.subNodeId}}号子节点-{{item.component}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>时间：{{item.malTime}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="roleId==3">
        <button ion-button (click)="OncomfirmClick(item)" item-right>确认故障</button>
      </ion-item>
    </ion-item>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
