page-login {
  .logo {
    padding: 20px 0;
    min-height: 100px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .padding {

    // background: url('../assets/login.png');
    background: url('../assets/background.png');
    height:100%;
    background-size:100% 100%;

  }

  .card-background {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      margin-top: 35%;
      font-size: 2.0em;
      width: 93%;
      font-weight: bold;
      //color: #fff;
    }


  }
  .error-box {
    margin-top: 10px;
    padding-right: 10px;
    // padding: 15px;
    font-size: 8px;
    color: red;
    //font-style: italic;
    // border:  1px solid #FF8B51;
    // border-radius: 3px;
    // background: #FFC58C;
  }

  //.error .item-inner {
  //  border-bottom: 3px solid red !important;
  //}
}
