page-config-history{
  .padding {
    background: url('../assets/login.png');
  }

  .Body{
    color:grey;
    font-size: small;
  }

  .Card{
    border-radius:15px;
    margin-top:10px;
    margin-bottom:10px
  }

}