page-subnodedetail{
    .padding {
        // background: url('../../assets/login.png');
        background: url('../assets/background.png');
        height:100%;
        background-size:100% 100%;
      }
    .listItem{
      background-color: transparent;
    }
    .name{
      display:inline;
      // color:grey;
      color:aliceblue;
    }
    .detail{
      display:inline;
      // color: #000;
      color:aliceblue
    }
    .label-md{
      margin-bottom:8px;
      margin-top:8px;
    } 
    .card_style{
      border-radius:20px;
      background:rgba(255, 255, 255, 0.116);
      top:0px;
      bottom:5px;
      padding:0;
      margin-top:0px;
      margin-bottom:10px;
      overflow: auto;
    }
}