page-set-server-ip {
    .padding {
        
            background: url('../assets/login.png');
        
          }
          .card-background {
                  position: relative;
                  text-align: center;
                  background:none;
                  box-shadow: none;
                }
}
