page-set-server-ip {
    .padding {
        
            // background: url('../assets/login.png');
            background: url('../assets/background.png');
            height:100%;
            background-size:100% 100%;
        
          }
          .card-background {
                  position: relative;
                  text-align: center;
                  background:none;
                  box-shadow: none;
                }
                .error-box {
                  text-align: left;
                  position:relative;
                  margin-top: 10px;
                  left: 10px;
                  // padding: 15px;
                  font-size: 8px;
                  color: red;
          }
}
