<ion-header style="text-align:center" no-border>
    <ion-navbar transparent >
            <button ion-button menuToggle (click)="openMenu()">
                    <ion-icon name="menu"></ion-icon>
                </button>
        <ion-title>{{equipmentName}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="menue"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="padding">
    <ion-slides spaceBetween="20px" speed="200" [pager] = "true" class = "slidesstyle" (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let item of EquipmentArray" >
            <ion-card style="border-radius:20px;background-color:transparent;position:absolute;top:0px;bottom:5px;padding:0;margin-top:0px;margin-bottom:0px;overflow: auto;">
               
                <ion-list inset>
                        <!-- <ion-card style="bottom:5px;background-color:transparent;border-radius:10px"> -->
                                <ion-item class="listItem">
                            
                            <ion-icon name="ios-keypad-outline"></ion-icon>
                            <div class="name"> 设备编号:</div>
                            <ion-note class="detail">{{item.deviceId}}</ion-note>
                        </ion-item>
                        <ion-item class="listItem">
                            <ion-icon name="ios-keypad-outline"></ion-icon>
                            <div class="name"> 所属厂房:</div>
                            <ion-note class="detail">{{item.factoryName}}</ion-note>
                        </ion-item>
                    <!-- </ion-card> -->
                    <!-- <ion-card style="background-color:transparent;padding-bottom:5px;border-radius:10px;margin-top:5px;"> -->
                        <ion-item class="listItem">
                            <ion-icon *ngIf = "item.status.power == '开'" name="ios-alert" color="secondary"></ion-icon>
                            <ion-icon *ngIf = "item.status.power == '关'" name="ios-alert" color="danger"></ion-icon>
                            <div class="name">电源 :</div>
                            <ion-note class="detail">{{item.status.power}}</ion-note>
                        </ion-item>
                        <ion-item class="listItem">
                            <ion-icon *ngIf = "item.status.malfunction == '无'" name="ios-alert" color="secondary"></ion-icon>
                            <ion-icon *ngIf = "item.status.malfunction == '有'" name="ios-alert" color="danger"></ion-icon>
                            <div class="name">故障 :</div>
                            <ion-note class="detail" >{{item.status.malfunction}}</ion-note>
                        <!-- </ion-item> -->
                        <!-- <ion-item class="listItem"> -->
                            <ion-icon *ngIf = "item.status.running == '正常'" name="ios-alert" color="secondary"></ion-icon>
                            <ion-icon *ngIf = "item.status.running == '异常'" name="ios-alert" color="danger"></ion-icon>
                            <div class="name">运行 :</div>
                            <ion-note class="detail" >{{item.status.running}}</ion-note>
                        </ion-item>
                    <!-- </ion-card> -->
                    <!-- <ion-card style="background-color:transparent;padding-bottom:5px;border-radius:10px;margin-top:5px;"> -->
                    <ion-item class="listItem">
                        <ion-icon name="ios-build-outline"></ion-icon>
                        <div class="name"> 最后警报时间:</div>
                    </ion-item>
                    <ion-item class="listItem">
                        <ion-note class="detail">{{item.alarmMsg.alarmtimeStartTime}}</ion-note>
                    </ion-item>
                    <ion-item class="listItem">
                        <ion-icon name="ios-pulse-outline"></ion-icon>
                        <div class="name"> 最后故障时间 :</div>
                    </ion-item>
                    <ion-item class="listItem">
                        <ion-note class="detail">{{item.alarmMsg.malfunctiontimeTime}}</ion-note>
                    </ion-item>
                    <ion-item class="listItem">
                        <ion-icon name="ios-pulse-outline"></ion-icon>
                        <div class="name"> 最后配置时间 :</div>
                    </ion-item>
                    <ion-item class="listItem">
                        <ion-note class="detail">{{item.alarmMsg.sittingtimeEnd}}</ion-note>
                    </ion-item>
                <!-- </ion-card> -->
                <div>
                    
                </div>
                </ion-list>
            <!-- <div style="position:relative;height:90%;width:90%;border:1px solid #000"> -->
                <div style="position:absolute;bottom:5%;width:100%;font-size:12px;color:aliceblue;padding-left:5px;">
                    <button ion-button type="submit" (click)="getSubNode(item.deviceId)" style="width:45%;border-radius:15px;">查看子节点</button>
                    <button ion-button type="submit" (click)="getChart(item.name)" style="width:45%;border-radius:15px;">统计信息</button>
                    <button ion-button type="submit" (click)="checkAlarm(item)" style="border-radius:15px">警报历史</button>
                    <button ion-button type="submit" (click)="checkmalfunction(item)" style="border-radius:15px">故障历史</button>
                    <button ion-button type="submit" (click)="checkStatus(item)" style="border-radius:15px">配置历史</button>
                </div>
            <!-- </div> -->
            </ion-card>
        </ion-slide>
    </ion-slides>
    <!-- <div style="padding-top:20%;padding-left:20%;padding-right:20%;height:100%">
            
        
    </div> -->

    
    
</ion-content>

