<ion-header style="text-align:center" no-border>
    <ion-navbar transparent >
            <button ion-button menuToggle (click)="openMenu()">
                    <ion-icon name="menu" style="color:rgb(255,255,255)"></ion-icon>
                </button>
        <ion-title>
            <ion-icon *ngIf = "runstatus == '正常'" name="ios-alert" color="secondary"style="display:inline"></ion-icon>
            <p style="color:rgb(255,255,255);display:inline">{{equipmentName}}</p>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="menue"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="padding">
    <ion-slides spaceBetween="20px" speed="200" [pager] = "true" class = "slidesstyle" (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let item of EquipmentArray" >
            <ion-card style="border-radius:20px;background-color:rgba(255, 255, 255, 0.116);position:absolute;top:0px;bottom:5px;padding:0;margin-top:0px;margin-bottom:0px;overflow: auto;">
                <ion-grid style="top:50%;left:50%;position: absolute;transform: translate(-50%, -90%);">
                    <ion-row style="padding-top:50px">
                        <ion-col>
                            <img *ngIf = "item.status.malfunction == '无'" src="../../assets/alarmgreen.png" class="imgstyle"/>
                            <img *ngIf = "item.status.malfunction == '有'" src="../../assets/alarmred.png" class="imgstyle"/>
                        </ion-col>
                        <ion-col>
                            <img *ngIf = "item.status.running == '正常'" src="../../assets/malgreen.png" class="imgstyle"/>
                            <img *ngIf = "item.status.running == '异常'" src="../../assets/malred.png" class="imgstyle"/>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="name" style="color:aliceblue">报警 :</div>
                            <ion-note class="detail" style="color:aliceblue" >{{item.status.malfunction}}</ion-note>
                        </ion-col>
                        <ion-col>
                            <div class="name" style="color:aliceblue">故障 :</div>
                            <ion-note class="detail" style="color:aliceblue" >{{item.status.running}}</ion-note>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="name" style="color:aliceblue"> 最后时间:</div>
                        </ion-col>
                        <ion-col>
                            <div class="name" style="color:aliceblue"> 最后时间 :</div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-note class="detail" style="color:aliceblue">{{item.alarmMsg.alarmtimeStartTime}}</ion-note>
                        </ion-col>
                        <ion-col>
                            <ion-note class="detail" style="color:aliceblue">{{item.alarmMsg.malfunctiontimeTime}}</ion-note>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <!-- <div style="position:absolute;bottom:5%;width:100%;font-size:12px;color:aliceblue;padding-left:5px;"> -->
                    <!-- <button ion-button clear type="submit" (click)="getSubNode(item.deviceId)" style="color:aliceblue;width:45%;background-image:url('../../assets/button2.png');background-size:100% 100%">子节点</button>
                    <button ion-button clear type="submit" (click)="getChart(item)" style="color:aliceblue;width:45%;background-image:url('../../assets/button2.png');background-size:100% 100%">统计</button>
                    <button ion-button clear type="submit" (click)="checkAlarm(item)" style="color:aliceblue;width:45%;background-image:url('../../assets/button2.png');background-size:100% 100%">警报</button>
                    <button ion-button clear type="submit" (click)="checkmalfunction(item)" style="color:aliceblue;width:45%;background-image:url('../../assets/button2.png');background-size:100% 100%">故障</button> -->
                    <!-- <button ion-button clear type="submit" (click)="checkStatus(item)" style="border-radius:15px;margin-left:0;margin-right:0;padding-right:1;padding-left:0;">配置</button> -->
                <!-- </div> -->

                <div style="position:absolute;bottom:5%;width:100%;font-size:12px;color:aliceblue;padding-left:5px;">
                    <button ion-button clear type="submit" (click)="getSubNode(item.deviceId)" style="color:aliceblue;width:45%;background-image:url('../../assets/button.png');background-size:100% 100%">子节点</button>
                    <button ion-button clear type="submit" (click)="getChart(item)" style="color:aliceblue;width:45%;background-image:url('../../assets/button.png');background-size:100% 100%">统计</button>
                    <button ion-button clear type="submit" (click)="checkAlarm(item)" style="color:aliceblue;width:45%;background-image:url('../../assets/button.png');background-size:100% 100%">警报</button>
                    <button ion-button clear type="submit" (click)="checkmalfunction(item)" style="color:aliceblue;width:45%;background-image:url('../../assets/button.png');background-size:100% 100%">故障</button>
                    <!-- <button ion-button clear type="submit" (click)="checkStatus(item)" style="border-radius:15px;margin-left:0;margin-right:0;padding-right:1;padding-left:0;">配置</button> -->
                </div>
            </ion-card>
        </ion-slide>
    </ion-slides>   
</ion-content>

