page-home {
  .secoundRow  {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    //background-color:#e6e6e6;
  }
  .NoiseResult button {
    padding: 0px;
    margin: 0px;
    font-size: x-small;

  }

  .WellResult button {
    padding: 0px;
    margin: 0px;
    font-size: x-small;

  }
  #div1{
    display:relative;
    margin:0 auto;
    background-color:#7e7b7b;
    height:40%;
    width:80%
  }
  #div1inner{
    display:absolute;
    bottom:0px;
    width:100%;
    background-color:#7e7b7b;
  }

  .WaterLevelResult button {
    padding: 0px;
    margin: 0px;
    font-size: x-small;

  }
  .padding {
        background: url('../assets/login.png');
      }
      .swiper-pagination-bullet {
        background: white;
        opacity: 0.5;
      }
    
      .swiper-pagination-bullet-active {
        opacity: 1;
        background: white;
      }
}
