// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//.loggedOutMenu {
//  background-color: #2d2d2d;
//
//}


//隐藏滚动条

::-webkit-scrollbar {
  display: none !important;
}
.menu-image {
  background: blue !important;
  margin-bottom: -30% !important;
  margin-top: -10% !important;
}

.menu-image-height {
  min-height: 150px !important;
}

.powered-by {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.toolbar-title-md{
  font-size:1.7rem;
}
.item-inner{
  border-bottom:none !important;
}
// .button-md{
//   height:1.5rem;
// }

